language: python
python:
  - "2.7"
  - "3.5"
install:
  - sudo apt-get update
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
      wget https://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh -O miniconda.sh;
    else
      wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
    fi
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - ls
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  - conda install -q anaconda-client conda-build
  # Useful for debugging any issues with conda
  - conda info -a

  # Replace dep1 dep2 ... with your dependencies

  - conda create -q -n test-environment python=$TRAVIS_PYTHON_VERSION 
  - source activate test-environment

  - conda --add channels conda-forge eherbst
  - conda build conda
  - conda install tempered_pf --use-local

  #- git clone https://github.com/eph/tempered_pf.git
  #- cd tempered_pf
  #- conda build conda

script:
  - pwd